$light-background: rgb(255, 255, 255);
$light-font: #000;
$sub-project-color: rgb(101, 102, 20);

body {
  color: $light-font;
  background: $light-background;
}

a {
  color: $light-font;
}

.intro {
  &__link {
    &--highlight {
      background: rgb(237, 240, 73);
    }
  }
}

.sub-project {
  &__tags {
    &--tag {
      color: $sub-project-color;
      border: 2px solid $sub-project-color;
    }
  }
}
