@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a:hover {
  opacity: 0.5;
}

.toggle {
  position: absolute;
  top: 1.875em;
  right: 3em;
  cursor: pointer;
}

.toggle__img {
  width: 3.25em;
  height: auto;
}

.topScrollButton {
  width: 150px;
  height: 90px;
  position: fixed;
  bottom: 6.25em;
  right: 3.125em;
  cursor: pointer;
}

.topScrollButton:hover {
  -webkit-animation-name: Bounce;
          animation-name: Bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.topScrollButton:touch-action {
  -webkit-animation-name: Bounce;
          animation-name: Bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.topScrollButton__emoji {
  display: block;
  margin: auto;
  padding-top: 20px;
  width: 3em;
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.intro {
  font-size: 1em;
  max-width: 1440px;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 9.375rem;
  -webkit-animation-name: SlideIn;
          animation-name: SlideIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.intro__title {
  font-size: 6.25em;
  font-weight: 400;
  margin-bottom: -10px;
  margin-top: 0;
}

.intro__description {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.intro__description--name {
  font-weight: 700;
}

.intro__description--emoji {
  width: 1em;
  position: relative;
  top: 0.4375rem;
}

.intro__link {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
}

.intro__link--highlight {
  padding: 0 5px;
  text-decoration: none;
}

.section {
  font-size: 1em;
  width: 80%;
  margin: auto;
  padding: 6.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 6.25em;
  margin-right: 2.5em;
}

.section__content {
  font-weight: 300;
  width: 100%;
  max-width: 650px;
}

.section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}

.about {
  padding-bottom: 9.375rem;
}

.skills {
  font-size: 1em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__category--label {
  font-weight: 600;
  margin-bottom: 10px;
}

.skills__category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills__category ul li {
  line-height: 2em;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.project__picture {
  margin: 0;
  margin-right: 30px;
}

.project__picture img {
  width: 31.25em;
  height: auto;
}

.project__caption--name {
  font-weight: 600;
  margin-bottom: 15px;
}

.project__caption--description {
  font-weight: 300;
}

.more-projects {
  font-size: 1em;
  margin-bottom: 150px;
}

.more-projects .sub-project {
  margin-bottom: 50px;
}

.more-projects .sub-project__title {
  font-weight: 400;
  text-transform: capitalize;
}

.more-projects .sub-project__date {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5px;
}

.more-projects .sub-project__description {
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 10px;
}

.more-projects .sub-project__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-projects .sub-project__tags--tag {
  font-weight: 600;
  font-size: 0.75em;
  margin-right: 10px;
  padding: 3px 10px;
  border-radius: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  margin-left: 80px;
  margin-bottom: 30px;
}

.footer__copyright--emoji {
  width: 1em;
}

.footer__links {
  width: 28.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875em;
  margin-right: 5em;
}

.footer__links--highlight {
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes Bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes Bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  #top-button {
    right: -2.125em;
  }
}
/*# sourceMappingURL=style.css.map */