@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a:hover {
  color: #575757;
}

.toggle {
  position: absolute;
  top: 20px;
  right: 2%;
  cursor: pointer;
}

.toggle__img {
  width: 3rem;
  height: auto;
}

#top-button {
  width: 150px;
  height: 90px;
  position: fixed;
  bottom: 14%;
  right: 0%;
  cursor: pointer;
}

#top-button:hover {
  -webkit-animation-name: Bounce;
          animation-name: Bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#top-button .emoji {
  width: 3rem;
}

@-webkit-keyframes Bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes Bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.intro {
  padding: 0 100px 0;
  max-width: 1440px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-animation-name: SlideInOnLoad;
          animation-name: SlideInOnLoad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.intro__title {
  font-size: 6.25rem;
  font-weight: 400;
  margin-bottom: -10px;
  margin-top: 0;
}

.intro__description {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.intro__description--name {
  font-weight: 700;
}

.intro__description .emoji {
  width: 2.5rem;
}

.intro__link {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.intro__link .emoji {
  width: 1.25rem;
  height: auto;
}

@-webkit-keyframes SlideInOnLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideInOnLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  width: 80%;
  margin: auto;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 1rem;
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
  margin-right: 40px;
}

.section__content {
  font-weight: 300;
  width: 100%;
  max-width: 650px;
}

.section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}

.skills {
  font-weight: 300;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__category--label {
  font-weight: 600;
  margin-bottom: 10px;
}

.skills__category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills__category ul li {
  line-height: 2rem;
}

.resume {
  font-size: 0.875rem;
  margin-top: 10px;
}

.resume .emoji {
  width: 0.875rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.project__picture {
  margin: 0;
  margin-right: 30px;
}

.project__picture img {
  width: 500px;
  height: auto;
}

.project__caption--name {
  font-weight: 600;
  margin-bottom: 15px;
}

.project__caption--description {
  font-weight: 300;
}

.more-projects {
  margin-bottom: 150px;
}

.more-projects .sub-project {
  margin-bottom: 50px;
}

.more-projects .sub-project__title {
  font-weight: 400;
  text-transform: capitalize;
}

.more-projects .sub-project__date {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5px;
}

.more-projects .sub-project__description {
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 10px;
}

.more-projects .sub-project__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-projects .sub-project__tags--tag {
  font-weight: 600;
  font-size: 12px;
  margin-right: 10px;
  padding: 3px 10px;
  border-radius: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  margin-left: 5rem;
  margin-bottom: 30px;
}

.footer__copyright .emoji {
  width: 1rem;
}

.footer__links {
  width: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 5rem;
}

.footer__links--highlight {
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1240px) {
  .project img {
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */