@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a:hover {
  opacity: 0.5;
}

// --------Dark Mode Toggle (Moon Emoji)--------
.toggle {
  position: absolute;
  top: 1.875em;
  right: 3em;
  cursor: pointer;

  &__img {
    width: 3.25em;
    height: auto;
  }
}

// --------Scroll to Top Button (Finger Pointing Up Emoji)--------
.topScrollButton {
  width: 150px;
  height: 90px;
  position: fixed;
  bottom: 6.25em;
  right: 3.125em;
  cursor: pointer;

  &:hover {
    animation-name: Bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &:touch-action {
    animation-name: Bounce;
    animation-duration: 2s;
  }

  &__emoji {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 3em;
  }
}

// Classes for JS : when the user is on top of page not show top scroll button
.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-out;
}

// --------Intro Section--------
.intro {
  font-size: 1em;
  max-width: 1440px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 9.375rem;
  animation-name: SlideIn;
  animation-duration: 1s;
  animation-iteration-count: 1;

  &__title {
    font-size: 6.25em;
    font-weight: 400;
    margin-bottom: -10px;
    margin-top: 0;
  }

  &__description {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;

    &--name {
      font-weight: 700;
    }

    &--emoji {
      width: 1em;
      position: relative;
      top: 0.4375rem;
    }
  }

  &__link {
    font-size: 1.25em;
    font-weight: 400;
    margin: 0;

    &--highlight {
      padding: 0 5px;
      text-decoration: none;
    }
  }
}

// --------Sections (About, Skills, Projects, More Project)--------
.section {
  font-size: 1em;
  width: 80%;
  margin: auto;
  padding: 6.25em 0;
  display: flex;
  justify-content: center;

  &__title {
    font-weight: 700;
    flex-shrink: 0;
    width: 6.25em;
    margin-right: 2.5em;
  }

  &__content {
    font-weight: 300;
    width: 100%;
    max-width: 650px;

    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}

// --------About Section--------
.about {
  padding-bottom: 9.375rem;
}

// --------Skills Section--------
.skills {
  font-size: 1em;
  font-weight: 300;
  display: flex;
  justify-content: space-around;

  &__category {
    &--label {
      font-weight: 600;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        line-height: 2em;
      }
    }
  }
}

// --------Project Section--------
.project {
  display: flex;
  margin-bottom: 80px;

  &__picture {
    margin: 0;
    margin-right: 30px;

    img {
      width: 31.25em;
      height: auto;
    }
  }

  &__caption {
    &--name {
      font-weight: 600;
      margin-bottom: 15px;
    }

    &--description {
      font-weight: 300;
    }
  }
}

// --------More Projects Section--------
.more-projects {
  font-size: 1em;
  margin-bottom: 150px;

  .sub-project {
    margin-bottom: 50px;

    &__title {
      font-weight: 400;
      text-transform: capitalize;
    }

    &__date {
      font-weight: 300;
      font-style: italic;
      margin-bottom: 5px;
    }

    &__description {
      font-weight: 300;
      text-transform: capitalize;
      margin: 0;
      margin-bottom: 10px;
    }

    &__tags {
      display: flex;

      &--tag {
        font-weight: 600;
        font-size: 0.75em;
        margin-right: 10px;
        padding: 3px 10px;
        border-radius: 10px;
      }
    }
  }
}

// --------Footer--------
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    margin-left: 80px;
    margin-bottom: 30px;

    &--emoji {
      width: 1em;
    }
  }

  &__links {
    width: 28.125em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875em;
    margin-right: 5em;

    &--highlight {
      text-decoration: none;
    }
  }
}

// --------Effects For this website--------
.fade-in {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Bounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

// --------Media Queries--------
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }

  #top-button {
    right: -2.125em;
  }
}

@media screen and (max-width: 600px) {
}
